@import "imports.scss";

.foodPosts {
    display: grid;
    grid: repeat( auto-fill, minmax(12rem, 1fr)) / repeat( auto-fill, minmax(12rem, 1fr));
    grid-gap: .5rem;

    .foodPostThumb {
        width: 100%;
        position: relative;

        .foodPostThumb__image {
            width: 100%;
            transition: filter .3s ease;
        }

        .foodPostThumb__label {
            z-index: 1;
            position: absolute;
            bottom: 0;
            padding: .5rem;
            width: 100%;
            background: rgba(64, 64, 64, 0.8);
            color: $white2;
            transition: padding-bottom .3s ease, background .3s ease;
        }

        &:hover {
            
            .foodPostThumb__image {
                filter: brightness(.7);
            }
            
            .foodPostThumb__label {
                padding-bottom: 2rem;
            }

        }

        &:active {
            
            .foodPostThumb__image {
                filter: brightness(.5);
            }
            
            .foodPostThumb__label {
                background: rgba(92, 92, 92, .8);
            }

        }

    }
}

.backButton {
    a {
        font-size: 2rem;
    }
}

.post {
    width: 100%;

    .post__header {
        padding: .5rem 0 .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .post__head {
            flex: 1;
            margin: .5rem 0;
            text-align: center;

            .post__title {
                flex: 1;
                font-size: 3.5rem;
                color: $black1;
                letter-spacing: .1rem;
            }

            .post__author, .post__date {
                color: $black4;
                font-size: .875rem;
                letter-spacing: .1rem;
                margin: .125rem .25rem;
            }

            @media screen and (min-width: $desktopSize) {
                text-align: left;
            }

        }
    
        .post__thumbnail {
            flex: 0;
            text-align: center;

            img {
                width: 80%;
                border-radius: 100rem;
                margin: 0 auto;

                @media screen and (min-width: $desktopSize) {
                    margin-right: .5rem;
                    width: 8rem;
                }
            }
        }

        @media screen and (min-width: $desktopSize) {
            flex-direction: row;
        }

    }

    .post__content {
        width: 100%;
        font-size: 1.25rem;

        p {
            font-size: 1.25rem;
        }

        ul, ol {
            li { 
                color: $black3;
            }
        }

        .imageWrap {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            flex-direction: column;
            
            .imageWrap__flexCon {
                margin: .5rem;
                flex: 1;
                
                img {
                    max-width: 100%;
                }

            }

            @media screen and (min-width: $desktopSize) {
                flex-direction: row;
            }

        }

    }

}