@import "imports.scss";

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $dandelion4;
    padding: 0.5rem 1rem;

    @media screen and (min-width: $desktopSize) {
        flex-direction: row;
    }

    .footer_email {
        flex: 1;
        margin: .5rem 1rem;
        font-size: 1.25rem;
    }

    .footer__iconLinks {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        @media screen and (min-width: 800px) {
            flex-direction: row;
            flex-wrap: nowrap;
            flex: 0;
        }

        .footer__iconLink {
            flex: 0;
            padding: 1rem;

            .footer__icon {
                font-size: 2.5rem;
            }

        }

    }
}