@import "imports.scss";

.hero {
    @include section;
    background: $black1;
    transition: background .25s ease;

    &.red {
        background: $red3;
    }

    &.yellow {
        background: $yellow3;
    }
    
    .hero__title {
        color: $white1;
        font-family: $headerFont;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: .1rem;

        @media screen and (min-width: $desktopSize) {
            font-size: 6rem;
        }
    }

    .hero__subtitle {
        color: $white2;
        font-family: $headerFont;
        font-size: 1.75rem;
        letter-spacing: .1rem;

        @media screen and (min-width: $desktopSize) {
            font-size: 2rem;
        }
    }

}

.substance {
    margin: 2rem 0;

    p { font-size: 1.5rem; }

    .substance__flexWrap {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        @media screen and (min-width: $desktopSize) {
            flex-direction: row;
        }
    }

    .substance__text {
        flex: 2;

        @media screen and (min-width: $desktopSize) {
            padding-right: 1rem;
        }
    }

    .substance__image {
        flex: 1;
        max-width: 400px;
        padding: .5rem;

        img {
            width: 100%;
        }

        @media screen and (min-width: $desktopSize) {
            padding: .5rem 0 .5rem 1rem;
        }
    }
}