@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Lora:400,400i,700,700i&display=swap');

$black1: #202020;
$black2: #404040;
$black3: #606060;
$black4: #808080;

$white1: #f8f8f8;
$white2: #e0e0e0;
$white3: #c8c8c8;

$blue1: #032436;
$blue2: #113B51;
$blue3: #28546C;
$blue4: #477187;
$blue5: #6F90A2;

$dandelion1: #552E00;
$dandelion2: #804F15;
$dandelion3: #AA7639;
$dandelion4: #D4A46A;
$dandelion5: #FFD8AA;

$yellow1: #553E00;
$yellow2: #806316;
$yellow3: #AA8B39;
$yellow4: #D4B86B;
$yellow5: #FFE8AA;

$red1: #551300;
$red2: #802E16;
$red3: #AA5239;
$red4: #D4826B;
$red5: #FFBDAA;

$desktopSize: 800px;

$headerFont: "Karla", sans-serif;
$bodyFont: "Karla", sans-serif;

* { box-sizing: border-box; }

@mixin section {
    padding: 1rem 0;
    width: 100%;
}

html, body, #root {
    font-size: 16px;
    font-family: $bodyFont;
    margin: 0;
    width: 100%;
    height: 100%;
    background: $white1;
}

a {
    color: $blue4;
    text-decoration: none;
    transition: color .25s ease;
    &:visited { color: $blue4; }
    &:hover { color: $blue3; }
    &:active { color: $blue2; }
}

p {
    font-size: 1rem;
    line-height: 150%;
    color: $black3;
    margin: .5rem 0;

    &.big {
        font-size: 1.5rem;
    }

    &.white {
        color: $white3;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: $black1;
    letter-spacing: .05rem;
    margin: .5rem 0;
}

h1 { font-size: 3rem; } h2 { font-size: 2.5rem; } h3 { font-size: 2rem; } h4 { font-size: 1.75rem; } h5 { font-size: 1.5rem; } h6 { font-size: 1.25rem; }

.body {
    width: 100%;
    min-height: 100%;

    &.fadeIn-enter {
        opacity: 0;
        transform-origin: top center;
    }

    &.fadeIn-enter-active {
        opacity: 1;
        transition: opacity .3s;
    }

    &.fadeIn-exit {
        opacity: 1;
    }

    &.fadeIn-exit-active {
        opacity: 0;
        transition: opacity .3s;
    }
}

.contentWrap {
    display: block;
    margin: 1rem auto;
    width: 90%;
    max-width: 50em;
}

.divider {
    display: block;
    width: 8rem;
    height: .5rem;
    margin: 1.5rem 0;

    &.black {
        background: $black2;
    }

    &.white {
        background: $white2;
    }

    &.yellow {
        background: $yellow3;
    }

    &.dandelion {
        background: $dandelion3;
    }

    &.blue {
        background: $blue3;
    }
}

.hookem {
    color: #bf5700;
}
